__pycache__
.overlay_init
.sconsign.dblite
.vscode/browse.vc.db*
.tours
*_pyx.o
*_pyx.cpp
*_pyx.so

# For qcpilot
qcpilot/cufud/**/*.o
qcpilot/cufud/cufud

cereal/gen/**
cereal/lib*.a
cereal/messaging/*.o
cereal/services.h
common/*.o
common/lib*.a
common/transformations/*.o
common/transformations/lib*.a
msgq_repo/lib*.a
msgq_repo/msgq/*.os
msgq_repo/msgq/*.o
msgq_repo/msgq/visionipc/*.os
opendbc_repo/opendbc/can/*.os
opendbc_repo/opendbc/dbc/generator/**/*.dbc
panda/board/*.o
panda/board/obj/*.o
panda/board/jungle/*.o
panda/board/jungle/obj/*.o
rednose_repo/rednose/helpers/*.os
rednose_repo/rednose/helpers/lib*.a
selfdrive/controls/lib/lateral_mpc_lib/acados_ocp_lat.json
selfdrive/controls/lib/longitudinal_mpc_lib/acados_ocp_long.json
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/**/*.os
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/**/*.os
selfdrive/locationd/models/generated/*.os
selfdrive/modeld/lib*.a
selfdrive/modeld/models/*.o
selfdrive/modeld/transforms/*.o
selfdrive/pandad/can_list_to_can_capnp.o
selfdrive/pandad/libcan_list_to_can_capnp.a
selfdrive/pandad/pandad_api_impl.o
third_party/json11/json11.o
third_party/libjson11.a
selfdrive/modeld/models/driving_policy.onnx
selfdrive/modeld/models/driving_vision.onnx


cereal/gen/cpp/*.capnp.h
cereal/messaging/bridge

selfdrive/ui/translations/main_*.qm


selfdrive/pandad/lib*.a
selfdrive/pandad/*.o
selfdrive/ui/*.o
selfdrive/ui/libqt_util.a
selfdrive/ui/libqt_widgets.a
selfdrive/ui/main.o
selfdrive/ui/**/moc_*.cc
selfdrive/ui/**/*.o

system/logcatd/**/*.o
system/loggerd/**/*.o
system/proclogd/*.o
system/proclogd/*.o
system/sensord/sensors/*.o
system/sensord/*.o
system/ubloxd/generated/*.o
system/ubloxd/*.o
system/ubloxd/*.o
system/camerad/camerad
system/camerad/cameras/camera_common.o
system/camerad/cameras/camera_qcom2.o
system/camerad/cameras/cdm.o
system/camerad/cameras/spectra.o
system/camerad/main.o
system/camerad/sensors/ar0231.o
system/camerad/sensors/os04c10.o
system/camerad/sensors/ox03c10.o

third_party/kaitai/kaitaistream.o
third_party/libkaitai.a
third_party/qrcode/QrCode.o
selfdrive/ui/watch3
system/loggerd/lib*.a


cereal/gen/cpp/car.capnp.h
cereal/gen/cpp/custom.capnp.h
cereal/gen/cpp/legacy.capnp.h
cereal/gen/cpp/log.capnp.h
cereal/messaging/bridge
common/params_pyx.cpp
common/params_pyx.so
common/transformations/transformations.cpp
common/transformations/transformations.so
msgq_repo/msgq/ipc_pyx.cpp
msgq_repo/msgq/ipc_pyx.so
msgq_repo/msgq/visionipc/visionipc_pyx.cpp
msgq_repo/msgq/visionipc/visionipc_pyx.so
opendbc_repo/opendbc/can/libdbc.so
opendbc_repo/opendbc/can/packer_pyx.cpp
opendbc_repo/opendbc/can/packer_pyx.so
opendbc_repo/opendbc/can/parser_pyx.cpp
opendbc_repo/opendbc/can/parser_pyx.so
panda/board/jungle/obj/bootstub.panda_jungle.bin
panda/board/jungle/obj/bootstub.panda_jungle.elf
panda/board/jungle/obj/bootstub.panda_jungle_h7.bin
panda/board/jungle/obj/bootstub.panda_jungle_h7.elf
panda/board/jungle/obj/panda_jungle.bin
panda/board/jungle/obj/panda_jungle.bin.signed
panda/board/jungle/obj/panda_jungle.elf
panda/board/jungle/obj/panda_jungle_h7.bin
panda/board/jungle/obj/panda_jungle_h7.bin.signed
panda/board/jungle/obj/panda_jungle_h7.elf
panda/board/obj/bootstub.panda.bin
panda/board/obj/bootstub.panda.elf
panda/board/obj/bootstub.panda_h7.bin
panda/board/obj/bootstub.panda_h7.elf
panda/board/obj/gitversion.h
panda/board/obj/panda.bin
panda/board/obj/panda.bin.signed
panda/board/obj/panda.elf
panda/board/obj/panda_h7.bin
panda/board/obj/panda_h7.bin.signed
panda/board/obj/panda_h7.elf
panda/board/obj/version
rednose_repo/rednose/helpers/ekf_sym_pyx.cpp
rednose_repo/rednose/helpers/ekf_sym_pyx.so
selfdrive/assets/assets.cc
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/Makefile
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_ocp_solver_pyx.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_ocp_solver_pyx.so
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_0_fun.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_0_fun_jac_ut_xt.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_0_hess.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_e_fun.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_e_fun_jac_ut_xt.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_e_hess.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_fun.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_fun_jac_ut_xt.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_hess.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_model/lat_expl_ode_fun.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_model/lat_expl_vde_adj.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_model/lat_expl_vde_forw.c
selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/libacados_ocp_solver_lat.so
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/Makefile
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_ocp_solver_pyx.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_ocp_solver_pyx.so
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/libacados_ocp_solver_long.so
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_constraints/long_constr_h_fun.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_constraints/long_constr_h_fun_jac_uxt_zt.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_0_fun.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_0_fun_jac_ut_xt.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_0_hess.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_e_fun.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_e_fun_jac_ut_xt.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_e_hess.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_fun.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_fun_jac_ut_xt.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_hess.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_model/long_expl_ode_fun.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_model/long_expl_vde_adj.c
selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_model/long_expl_vde_forw.c
selfdrive/locationd/models/generated/car.cpp
selfdrive/locationd/models/generated/car.h
selfdrive/locationd/models/generated/libcar.so
selfdrive/locationd/models/generated/libpose.so
selfdrive/locationd/models/generated/pose.cpp
selfdrive/locationd/models/generated/pose.h
selfdrive/modeld/models/commonmodel_pyx.cpp
selfdrive/modeld/models/commonmodel_pyx.so
selfdrive/modeld/models/dmonitoring_model_tinygrad.pkl
selfdrive/modeld/models/driving_policy_metadata.pkl
selfdrive/modeld/models/driving_policy_tinygrad.pkl
selfdrive/modeld/models/driving_vision_metadata.pkl
selfdrive/modeld/models/driving_vision_tinygrad.pkl
selfdrive/pandad/pandad
selfdrive/pandad/pandad_api_impl.cpp
selfdrive/pandad/pandad_api_impl.so
selfdrive/ui/translations/main_ar.qm
selfdrive/ui/translations/main_de.qm
selfdrive/ui/translations/main_en.qm
selfdrive/ui/translations/main_es.qm
selfdrive/ui/translations/main_fr.qm
selfdrive/ui/translations/main_ja.qm
selfdrive/ui/translations/main_ko.qm
selfdrive/ui/translations/main_pt-BR.qm
selfdrive/ui/translations/main_th.qm
selfdrive/ui/translations/main_tr.qm
selfdrive/ui/translations/main_zh-CHS.qm
selfdrive/ui/translations/main_zh-CHT.qm
selfdrive/ui/ui
system/logcatd/logcatd
system/loggerd/bootlog
system/loggerd/encoderd
system/loggerd/loggerd
system/proclogd/proclogd
system/sensord/sensord
system/ubloxd/ubloxd

tools/replay/api.o
tools/replay/camera.o
tools/replay/consoleui.o
tools/replay/filereader.o
tools/replay/framereader.o
tools/replay/libreplay.a
tools/replay/logreader.o
tools/replay/main.o
tools/replay/replay
tools/replay/replay.o
tools/replay/route.o
tools/replay/seg_mgr.o
tools/replay/timeline.o
tools/replay/util.o

tools/cabana/assets/assets.cc
tools/cabana/assets/assets.o
tools/cabana/binaryview.o
tools/cabana/cabana
tools/cabana/cabana.o
tools/cabana/chart/chart.o
tools/cabana/chart/chartswidget.o
tools/cabana/chart/moc_chart.cc
tools/cabana/chart/moc_chart.o
tools/cabana/chart/moc_chartswidget.cc
tools/cabana/chart/moc_chartswidget.o
tools/cabana/chart/moc_tiplabel.cc
tools/cabana/chart/moc_tiplabel.o
tools/cabana/chart/signalselector.o
tools/cabana/chart/sparkline.o
tools/cabana/chart/tiplabel.o
tools/cabana/commands.o
tools/cabana/dbc/car_fingerprint_to_dbc.json
tools/cabana/dbc/dbc.o
tools/cabana/dbc/dbcfile.o
tools/cabana/dbc/dbcmanager.o
tools/cabana/dbc/moc_dbcmanager.cc
tools/cabana/dbc/moc_dbcmanager.o
tools/cabana/detailwidget.o
tools/cabana/historylog.o
tools/cabana/libcabana_lib.a
tools/cabana/mainwin.o
tools/cabana/messageswidget.o
tools/cabana/moc_binaryview.cc
tools/cabana/moc_binaryview.o
tools/cabana/moc_detailwidget.cc
tools/cabana/moc_detailwidget.o
tools/cabana/moc_historylog.cc
tools/cabana/moc_historylog.o
tools/cabana/moc_mainwin.cc
tools/cabana/moc_mainwin.o
tools/cabana/moc_messageswidget.cc
tools/cabana/moc_messageswidget.o
tools/cabana/moc_settings.cc
tools/cabana/moc_settings.o
tools/cabana/moc_signalview.cc
tools/cabana/moc_signalview.o
tools/cabana/moc_streamselector.cc
tools/cabana/moc_streamselector.o
tools/cabana/moc_videowidget.cc
tools/cabana/moc_videowidget.o
tools/cabana/settings.o
tools/cabana/signalview.o
tools/cabana/streams/abstractstream.o
tools/cabana/streams/devicestream.o
tools/cabana/streams/livestream.o
tools/cabana/streams/moc_abstractstream.cc
tools/cabana/streams/moc_abstractstream.o
tools/cabana/streams/moc_devicestream.cc
tools/cabana/streams/moc_devicestream.o
tools/cabana/streams/moc_livestream.cc
tools/cabana/streams/moc_livestream.o
tools/cabana/streams/moc_pandastream.cc
tools/cabana/streams/moc_pandastream.o
tools/cabana/streams/moc_replaystream.cc
tools/cabana/streams/moc_replaystream.o
tools/cabana/streams/moc_routes.cc
tools/cabana/streams/moc_routes.o
tools/cabana/streams/moc_socketcanstream.cc
tools/cabana/streams/moc_socketcanstream.o
tools/cabana/streams/pandastream.o
tools/cabana/streams/replaystream.o
tools/cabana/streams/routes.o
tools/cabana/streams/socketcanstream.o
tools/cabana/streamselector.o
tools/cabana/tools/findsignal.o
tools/cabana/tools/findsimilarbits.o
tools/cabana/tools/moc_findsignal.cc
tools/cabana/tools/moc_findsignal.o
tools/cabana/tools/moc_findsimilarbits.cc
tools/cabana/tools/moc_findsimilarbits.o
tools/cabana/utils/export.o
tools/cabana/utils/moc_util.cc
tools/cabana/utils/moc_util.o
tools/cabana/utils/util.o
tools/cabana/videowidget.o
tools/plotjuggler/bin/
tools/plotjuggler/tmp*.rlog

